html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/oswald-v53-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21.94px;
    font-weight: normal:
}
@media (min-width: 630.01px) {
/*Header*/

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    justify-content: flex-end;
}

.header {
    background-image: url('../img/svg/Union.svg');
    background-size: cover;
    background-position: left;
    margin: 0;
    flex-grow: 1;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    padding-bottom: 20px;
}

.header-nav ul {
    list-style-type: none;
}

.header-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding: 0 62px;
    margin: 0 auto;
}

.logo {
    max-width: 160px;
}

.header-nav {
    flex-grow: 1;
}

.header-list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.header-item{
    padding-left: 35px;
}

#id{
    padding-left: 51px;
}

.header-item a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #060606;
    font-size: 18px;
}

.header-item:last-child a {
    padding-right: 0;
}

.header-item:first-child a {
    padding-left: 0;
}

.header-item.active a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #FFA800;
    border-radius: 2px;
}

.menu-button{
    display: none;
}

/* Image with btn */

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: 47px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/*Text block*/

.content-main{
    min-height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block {
    position: relative;
    text-align: center;
    max-width: 654px;
    max-height: 114px;
}

.content-block p {
    margin: 0 auto;
    max-width: 654px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #2F4858;
    font-size: 18px;
}

/*Many foto container*/

.foto-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
}

.images {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.image {
    display: block;
    margin: 0;
    padding: 0;
}

.large-image {
    width: 24.5%;
    height: auto;
}

.last-large-image {
    width: 28.5%;
    height: auto;
}

.image-column {
    display: flex;
    flex-direction: column;
    width: 22.5%;
    height: auto;
    align-items: center;
}

.small-image {
    width: 100%;
    height: auto;
}

.border {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 3;
    min-width: 290px;
    max-width: 100%
}

.top-border {
    top: 0;
}

.bottom-border {
    bottom: 0;
}

/*Question block*/

.button-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 480px;

}
.block {
    text-align: center;
    margin: 120px;
}
.block h2 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 35.57px;
    color: #2F4858;
    margin-bottom: 50px;
}
.block .btn-custom {
    font-family: 'Montserrat';
    width: 233px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.94px;
    color: #FFFFFF;
    background-color: #FFA800;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.block .btn-custom:hover {
    background-color: #FFDA16;
}

.block .btn-custom:active {
    background-color: #FF8A00; 
}

/*Form*/

.form-container {
    max-width: 654px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}
.form-container h1 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 30px;
    line-height: 44.46px;
    color: #2F4858;
    margin-bottom: 50px;
}
.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 0;
}
.form-container input[type="text"], 
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    background-color: rgba(196, 196, 196, 0.4);
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
}
.form-container textarea {
    height: 150px;
    resize: vertical;
}
.form-container label {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: rgba(47, 72, 88, 1);
    text-align: left;
    display: block;
    margin-bottom: 5px;
}
.form-container .checkbox-label {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #2F4858;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.form-container .checkbox-label input[type="checkbox"] {
    position: relative;
    top: -13px;
    left: 0;
    margin-top: 0;
    margin-right: 15px;
}

.form-container .submit-btn {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29.26px;
    color: #FFFFFF;
    background-color: #FFA800;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    width: 180px;
    height: 60px; 
}

.form-container .submit-btn:hover {
    background-color: #FFDA16;
}

.form-container .submit-btn:active {
    background-color: #FF8A00;
}

.form-container .note {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #2F4858;
    line-height: 21.94px;
    margin-bottom: 20px;
    text-align: left;
}

/* Yellow Section */

.yellow-section {
    background-image: url('../img/svg/Subtract.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px 0;
    width: 100%;
    position: relative;
    height: 650px;
    margin-top: 120px;
}

.yellow-section h1 {
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 24px;
    line-height: 35.57px;
    margin-bottom: 20px;
    color: #2F4858;
    position: relative;
    margin-top: 50px;
    z-index: 1;
}

.yellow-section .logos {
    display: flex;;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    position: relative;
    z-index: 1;
    gap: 20px;
}

.yellow-section .logos img {
    max-width: 20%;
    height: auto;
    margin: 0 10px;
}

.yellow-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/svg/Subtract.svg');
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 1;
}

/*Footer*/

.footer {
    background-image: url('../img/svg/Footer.svg');
    background-size: cover;
    width: 100%;
    padding: 80px;
    padding-bottom: 40px;
    color: white;
    position: relative;
    margin-top: -180px;
    z-index: 2;
}

.footer-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items:  start;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.logo-section{
    display: flex;
}

.logo-section .logo-image {
    max-width: 180px;
    max-height: 180px;
    margin-right: 100px;

}

.info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.info-section .contact-details,
.info-section .org-details,
.info-section .contact-info {
    margin-right: 0;
}

.contact-details p,
.org-details p,
.contact-info p {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 21.94px;
    margin: 5px 0;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
}

.contact-details p{
    margin-bottom: 20px;
    text-align: left;
}

.org-details h6, .contact-info h6{
    padding-bottom: 22px;
    font-size: 24px;
    
}

.contact-info p{
    text-align: right;
}

.contact-info h6{
    text-align: right;
}

.contact-info{
    position: relative;
    padding-bottom: 40px;
}

.requisite {
    display: none;
}

.social-section {
    position: absolute;
    right: 0;
    bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-section img {
    width: 36px;
    height: 36px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/*ScrollToTopBtn*/

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFA800;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
}

.scroll-to-top:hover {
    background-color: #FFDA16;
}

.scroll-to-top:active {
    background-color: #FF8A00;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}
}

/* Responsive Design */
@media (max-width: 630px) {
    .header {
        background-image: url('../img/svg/Union.svg');
        background-size: cover;
        background-position: left;
        margin: 0;
        flex-grow: 1;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 2;
        padding-bottom: 20px;
    }
    
    
    .header-wrapper {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }


    .header-list li {
        display: none;
        
    }

    .header-nav.open {
        display: block;
    }

    .header-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
        padding: 10px 0;
    }

    .header-item a {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    /*Image*/

    .image-container {
        position: relative;
        margin-top: 100px;
    }

    .image-container img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

/*Text block*/

    .content-main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content-block {
        width: 80%;
        padding: 80px 0;
    }

    .content-block p {
        font-size: 12px;
        line-height: 14.63px;
        text-align: ;
    }

/*Many foto container*/
    
.foto-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    height: 100%;
}

.images {
    display: grid;
    grid-template-columns: 43% 57%; /* First row: 43% for image-column, 57% for last-large-image */
    grid-template-rows: 53% 47%; /* Second row: 53% and 47% heights for large-image elements */
    gap: 0;
    height: 100%;
    width: 100%;
}

.image-column {
    grid-column: 1 / 2; /* Span the first column */
    grid-row: 1 / 2; /* Span the first row */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; /* Ensure the images fill the column */
}

.last-large-image {
    grid-column: 2 / 3; /* Second column */
    grid-row: 1 / 2; /* First row */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.large-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.large-image:first-of-type {
    grid-column: 1 / 2; /* Span the first column */
    grid-row: 2 / 3; /* Second row */
}

.large-image:last-of-type {
    grid-column: 2 / 3; /* Second column */
    grid-row: 2 / 3; /* Second row */
}

.small-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.border {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 3;
    min-width: 290px;
    max-width: 100%;
}

.top-border {
    top: 0;
}

.bottom-border {
    bottom: 0;
}

/*Question block*/

    .button-block {
        padding: 150px 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 80px;
    }
    .block {
        text-align: center;
        margin: auto;
    }
    .block h2 {
        font-family: 'Oswald';
        font-weight: 500;
        font-size: 24px;
        line-height: 35.57px;
        color: #2F4858;
        margin-bottom: 50px;
    }
    .block .btn-custom {
        font-family: 'Montserrat';
        width: 233px;
        height: 50px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21.94px;
        color: #FFFFFF;
        background-color: #FFA800;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
    }

    .block .btn-custom:hover {
        background-color: #FFDA16;
    }

    .block .btn-custom:active {
        background-color: #FF8A00; 
    }

/*Form*/

    .form-container {
        margin: 20px;
        margin-top: 50px;
        text-align: center;
    }
    .form-container h1 {
        font-family: 'Oswald';
        font-weight: 500;
        font-size: 30px;
        line-height: 44.46px;
        color: #2F4858;
        margin-bottom: 50px;
    }
    .form-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .form-container input[type="text"], 
    .form-container input[type="email"],
    .form-container textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: 21.94px;
        background-color: rgba(196, 196, 196, 0.4);
        border: none;
        border-radius: 6px;
        box-sizing: border-box;
    }
    .form-container textarea {
        height: 150px;
        resize: vertical;
    }
    .form-container label {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        color: rgba(47, 72, 88, 1);
        text-align: left;
        display: block;
        margin-bottom: 5px;
    }
    .form-container .checkbox-label {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        color: #2F4858;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .form-container .checkbox-label input[type="checkbox"] {
        position: relative;
        top: -13px;
        left: 0;
        margin-top: 0;
        margin-right: 15px;
    }

    .form-container .submit-btn {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 24px;
        line-height: 29.26px;
        color: #FFFFFF;
        background-color: #FFA800;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        cursor: pointer;
        width: 180px;
        height: 60px; 
    }

    .form-container .submit-btn:hover {
        background-color: #FFDA16;
    }

    .form-container .submit-btn:active {
        background-color: #FF8A00;
    }

    .form-container .note {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        color: #2F4858;
        line-height: 21.94px;
        margin-bottom: 20px;
        text-align: left;
    }

/* Yellow Section */

    .yellow-section {
        background-image: url('../img/svg/Subtract.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        padding: 50px 0;
        width: 100%;
        position: relative;
        height: 700px;
        margin-top: 120px;
    }

    .yellow-section h1 {
        font-family: 'Oswald';
        font-weight: bold;
        font-size: 34px;
        line-height: 35.57px;
        margin-bottom: 20px;
        color: #2F4858;
        position: relative;
        margin-top: 25px;
        z-index: 1;
    }

    .yellow-section .logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        justify-items: center;
        margin-top: 80px;
        position: relative;
        z-index: 1;
    }

    .yellow-section .logos img {
        max-width: 100%;
        height: auto;
    }

    .yellow-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/svg/Subtract.svg');
        background-size: cover;
        background-position: center;
        z-index: 0;
        opacity: 1;
    }

/*Footer*/

    .footer {
        background-image: url('../img/svg/Footer.svg');
        background-size: cover;
        width: 100%;
        padding: 80px 20px 25px 20px;
        padding-bottom: 40px;
        color: white;
        position: relative;
        margin-top: -180px;
        z-index: 2;
    }

    .footer-content {
        display: table-row;
        justify-content: space-evenly;
        align-items:  start;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .logo-section{
        display: flex;
    }

    .logo-section .logo-image {
        width: 220px;
        height: 220px;
        padding-bottom: 30px;
        margin-left: -15px;
    }

    .info-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;
    }

    .info-section .contact-details,
    .info-section .org-details,
    .info-section .contact-info {
        margin-right: 0;
    }

    .contact-details p,
    .org-details p,
    .contact-info p {
        font-family: 'Montserrat';
        font-size: 18px;
        line-height: 21.94px;
        margin: 5px 0;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: left;
    }

    .contact-details p{
        margin-bottom: 20px;
        text-align: left;
    }

    .contact-details {
        display: none;
    }

    .org-details h6, .contact-info h6{
        padding-bottom: 22px;
        font-size: 24px;
        
    }

    .org-details {
        display: none;
    }

    .contact-info p{
        text-align: left;
    }

    .contact-info h6{
        text-align: left;
    }

    .contact-info{
        position: relative;
        padding-bottom: 40px;
        font-weight: bold;
    }

    .requisite {
        font-weight: 900;
    }

    .social-section {
        position: absolute;
        padding-top: 37px;
        left: 0;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .social-section img {
        width: 36px;
        height: 36px;
    }

    .footer-bottom {
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;
        font-size: 14px;
        font-weight: 500;
    }

    .footer-bottom a {
        color: white;
        text-decoration: none;
    }

    .footer-bottom a:hover {
        text-decoration: underline;
    }

    .formob{
        display: flex;
        gap: 5px;
    }

/*ScrollToTopBtn*/

    .scroll-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #FFA800;
        color: #FFFFFF;
        padding: 10px 20px;
        border-radius: 25px;
        text-align: center;
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 1000;
    }

    .scroll-to-top:hover {
        background-color: #FFDA16;
    }

    .scroll-to-top:active {
        background-color: #FF8A00;
    }

    .scroll-to-top.show {
        opacity: 1;
        visibility: visible;
    }
}